.container {
  margin-left: 3%;
  margin-right: 3%;
  font-family: 'roboto', sans-serif;
}
h1, h2, h3, h4, h5, h6,
p,
blockquote {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Roboto", Helvetica, "Hiragino Sans GB", Arial, sans-serif;
  font-size: 16px;
  line-height: 18px;
  margin: 10px 13px 10px 13px;
}
@media only screen {
  body {
    color: #fff;
    background-color: #282a36;
  }
}

table {
  margin: 10px 0 15px 0;
  border-collapse: collapse;
}
td,th {
  border: 1px solid #ddd;
  padding: 3px 10px;
}
th {
  padding: 5px 10px;
}
a {
  color: #59acf3;
}
a:hover {
  color: #a7d8ff;
  text-decoration: none;
}
a img {
  border: none;
}
p {
  margin-bottom: 9px;
}
@media only screen {
  h1, h2, h3, h4, h5, h6 {
    color: #fff;
  }
}
h1, h2, h3, h4, h5, h6 {
  line-height: 36px;
}
h1 {
  margin-bottom: 18px;
  font-size: 30px;
}
h2 {
  font-size: 24px;
}
h3 {
  font-size: 18px;
}
h4 {
  font-size: 16px;
}
h5 {
  font-size: 14px;
}
h6 {
  font-size: 13px;
}
hr {
  margin: 0 0 19px;
  border: 0;
  border-bottom: 1px solid #ccc;
}
blockquote {
  padding: 13px 13px 21px 15px;
  margin-bottom: 18px;
  font-family:georgia,serif;
  font-style: italic;
}
blockquote:before {
  content:"\201C";
  font-size:40px;
  margin-left:-10px;
  font-family:georgia,serif;
  color:#eee;
}
blockquote p {
  font-size: 14px;
  font-weight: 300;
  line-height: 18px;
  margin-bottom: 0;
  font-style: italic;
}
code svg {
  background-color: white;
  padding: 10px;
}
sup {
  font-size: 0.83em;
  vertical-align: super;
  line-height: 0;
}
kbd {
  display: inline-block;
  padding: 3px 5px;
  font-size: 11px;
  line-height: 10px;
  color: #555;
  vertical-align: middle;
  background-color: #fcfcfc;
  border: solid 1px #ccc;
  border-bottom-color: #bbb;
  border-radius: 3px;
  box-shadow: inset 0 -1px 0 #bbb;
}
* {
  -webkit-print-color-adjust: exact;
}
@media screen and (min-width: 914px) {
  body {
    width: 854px;
    margin:10px auto;
  }
}
@media print {
  table, pre {
    page-break-inside: avoid;
  }
  body {
    margin: 2cm;
  }
}
/*
Atom One Dark by Daniel Gamage
Original One Dark Syntax theme from https://github.com/atom/one-dark-syntax
base:    #282c34
mono-1:  #abb2bf
mono-2:  #818896
mono-3:  #5c6370
hue-1:   #56b6c2
hue-2:   #61aeee
hue-3:   #c678dd
hue-4:   #98c379
hue-5:   #e06c75
hue-5-2: #be5046
hue-6:   #d19a66
hue-6-2: #e6c07b
*/

@media only screen {
  .hljs {
    background: #282c34;
  }
}
.hljs {
  display: block;
  overflow-x: auto;
  padding: 0.5em;
  color: #abb2bf;
}
.hljs-comment,
.hljs-quote {
  color: #5c6370;
  font-style: italic;
}
.hljs-doctag,
.hljs-keyword,
.hljs-formula {
  color: #c678dd;
}
.hljs-section,
.hljs-name,
.hljs-selector-tag,
.hljs-deletion,
.hljs-subst {
  color: #e06c75;
}
.hljs-literal {
  color: #56b6c2;
}
.hljs-string,
.hljs-regexp,
.hljs-addition,
.hljs-attribute,
.hljs-meta-string {
  color: #98c379;
}
.hljs-built_in,
.hljs-class .hljs-title {
  color: #e6c07b;
}
.hljs-attr,
.hljs-variable,
.hljs-template-variable,
.hljs-type,
.hljs-selector-class,
.hljs-selector-attr,
.hljs-selector-pseudo,
.hljs-number {
  color: #d19a66;
}
.hljs-symbol,
.hljs-bullet,
.hljs-link,
.hljs-meta,
.hljs-selector-id,
.hljs-title {
  color: #61aeee;
}
.hljs-emphasis {
  font-style: italic;
}
.hljs-strong {
  font-weight: bold;
}
.hljs-link {
  text-decoration: underline;
}
