@import url('https://fonts.googleapis.com/css?family=Lato|Playfair+Display');

.container {
  margin-left: 10%;
  margin-right: 10%;
  font-family: 'Lato', sans-serif;
  padding-bottom: 50vh;
}

h1, h2, h3, h4, h5 {
  text-align: center;
  font-family: 'Playfair Display', serif;
}

li {
  margin-bottom: 10px;
}

p {
  font-size: 16px;
}

input, button {
  text-decoration: none;
  color: pink;
  background-color: transparent;
  font-size: 30px;
  border: none;
  font-family: 'Lato', sans-serif;
}

input {
  color: #43a047;
}

button {
  color: #ef5350;
  float: right;
  font-size: 25px;
}

input:hover {
  cursor: pointer;
}
