.container {
  margin-left: 3%;
  margin-right: 3%;
  font-family: 'roboto', sans-serif;
}
h1, h2, h3, h4, h5, h6,
p,
blockquote {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Roboto", Helvetica, "Hiragino Sans GB", Arial, sans-serif;
  font-size: 16px;
  line-height: 18px;
  color: #fff;
  background-color: #282a36;
  margin: 10px 13px 10px 13px;
}
table {
  margin: 10px 0 15px 0;
  border-collapse: collapse;
}
td,th {
  border: 1px solid #ddd;
  padding: 3px 10px;
}
th {
  padding: 5px 10px;
}
a {
  color: #59acf3;
}
a:hover {
  color: #a7d8ff;
  text-decoration: none;
}
a img {
  border: none;
}
p {
  margin-bottom: 9px;
}
h1, h2, h3, h4, h5, h6 {
  color: #fff;
  line-height: 36px;
}
h1 {
  margin-bottom: 18px;
  font-size: 30px;
}
h2 {
  font-size: 24px;
}
h3 {
  font-size: 18px;
}
h4 {
  font-size: 16px;
}
h5 {
  font-size: 14px;
}
h6 {
  font-size: 13px;
}
hr {
  margin: 0 0 19px;
  border: 0;
  border-bottom: 1px solid #ccc;
}
blockquote {
  padding: 13px 13px 21px 15px;
  margin-bottom: 18px;
  font-family:georgia,serif;
  font-style: italic;
}
blockquote:before {
  content:"\201C";
  font-size:40px;
  margin-left:-10px;
  font-family:georgia,serif;
  color:#eee;
}
blockquote p {
  font-size: 14px;
  font-weight: 300;
  line-height: 18px;
  margin-bottom: 0;
  font-style: italic;
}
code svg {
  background-color: white;
  padding: 10px;
}
sup {
  font-size: 0.83em;
  vertical-align: super;
  line-height: 0;
}
kbd {
  display: inline-block;
  padding: 3px 5px;
  font-size: 11px;
  line-height: 10px;
  color: #555;
  vertical-align: middle;
  background-color: #fcfcfc;
  border: solid 1px #ccc;
  border-bottom-color: #bbb;
  border-radius: 3px;
  box-shadow: inset 0 -1px 0 #bbb;
}
* {
  -webkit-print-color-adjust: exact;
}
@media screen and (min-width: 914px) {
  body {
    width: 854px;
    margin:10px auto;
  }
}
@media print {
  table, pre {
    page-break-inside: avoid;
  }
  body {
    margin: 2cm;
  }
}
